<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sa.etrendz.zunni"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="23" />
    
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    

    <application
        android:name="ZunniApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" 
        android:theme="@style/AppTheme">
        
        <activity
            android:name=".ActivityMainCategory"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ActivityLogin"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ActivitySplash"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <meta-data
			android:name="com.facebook.sdk.ApplicationId"
			android:value="@string/app_id"/>
        
        <activity
            android:name=".ActivitySubCategory"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        
		<activity android:name="com.facebook.FacebookActivity"
		    android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
		    android:theme="@android:style/Theme.Translucent.NoTitleBar"
		    android:label="@string/app_name" />

		<provider android:authorities="com.facebook.app.FacebookContentProvider965002960213899"
	        android:name="com.facebook.FacebookContentProvider"
	        android:exported="true" />
        
        <activity
            android:name=".ActivityFullScreenImage"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ActivityProductList"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ActivitySignUp"
            android:label="@string/app_name"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".ActivityProductReview"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
